fsw-demo-1/src/main/resources/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderService" targetNamespace="urn:com.example.switchyard:fsw-demo-1:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.example.switchyard:fsw-demo-1:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.example.switchyard:fsw-demo-1:1.0" targetNamespace="urn:com.example.switchyard:fsw-demo-1:1.0" version="1.0">
<xs:element name="order" type="tns:order"/>
<xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerId" type="xs:string"/>
      <xs:element minOccurs="0" name="itemId" type="xs:string"/>
      <xs:element minOccurs="0" name="orderId" type="xs:string"/>
      <xs:element minOccurs="0" name="orderNum" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="order">
    <wsdl:part name="arg0" element="tns:order">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderServicePortType">
    <wsdl:operation name="order">
      <wsdl:input name="order" message="tns:order">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="order">
      <soap:operation soapAction="order" style="document"/>
      <wsdl:input name="order">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderServicePort" binding="tns:OrderServiceSoapBinding">
      <soap:address location="http://localhost:8080/fsw-demo-1/OrderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
